.toan {
    background-color: blue;
    padding: 9px;
    border-radius: 5px;

}

div button {
    background-color: #1de916;
    cursor: pointer;
    color: #0a0a0a;
    padding: 10px 50px;    
    border: none;
    border-radius: 5px;
background-image: ;

.dong {
    background-color: #d6fc02;
    color: #000000;
    padding: 10px;   
    text-align: center  
}

}